<div class="row">
  <a routerLink="/profile/edit" routerLinkActive="active">
    <span class="glyphicon glyphicon-cog"></span> Zmień dane
  </a>
</div>

<!-- Nawigacja -->
<div class="row">
  <a routerLink="/home">
    <p>
      <span class="glyphicon glyphicon-home"></span>
      Aktualności
    </p>
  </a>
</div>

<div class="row">
  <a routerLink="/friends">
    <p>
      <span class="glyphicon glyphicon-user"></span>
      Znajomi
    </p>
  </a>
</div>

<div class="row">
  <a routerLink="/adv">
    <p>
      <span class="glyphicon glyphicon-list-alt"></span>
      Ogłoszenia
    </p>
  </a>
</div>

<div class="row">
  <a routerLink="/stroll">
    <p>
      <span class="glyphicon glyphicon-calendar"></span>
      Spacery
    </p>
  </a>
</div>

