<ul>
	<li>
		<a routerLink="/home">
			<p>
			  <span class="glyphicon glyphicon-home"></span>
			  Aktualności
			</p>
		</a>
	</li>
	<li>
		<a routerLink="/friends">
			<p>
			  <span class="glyphicon glyphicon-user"></span>
			  Znajomi
			</p>
		</a>
	</li>
	<li>
		<a routerLink="/adv">
			<p>
			  <span class="glyphicon glyphicon-list-alt"></span>
			  Ogłoszenia
			</p>
		</a>
	</li>
	<li>
		<a routerLink="/stroll">
			<p>
			  <span class="glyphicon glyphicon-calendar"></span>
			  Spacery
			</p>
		</a>
	</li>
</ul>