<div class="row">
  <div class="col-lg-3 box">
    {{avatar}}
    <p>{{ profile.firstName }} {{ profile.lastName}}</p>
    <div *ngIf="buttonEnabled">
      <div *ngIf="isAlreadyFriend===0">
        <button class="btn btn-primary" (click)="addFriend(profile.user_id)">Zaproś do znajomego</button>
      </div>
      <div *ngIf="isAlreadyFriend===1">
        <button class="btn btn-primary" (click)="addFriend(profile.user_id)" disabled>Zaproś do znajomego</button>
      </div>

      <button class="btn btn-primary" (click)="inviteStroll(profile.user_id)">Zaproś na spacer</button>
    </div>
    <div *ngIf="!buttonEnabled">
      <button class="btn btn-primary" (click)="editProfile()">Edycja konta</button>
    </div>

    <!--Nawigacja-->
    <navigation></navigation>

  </div>

  <div class="col-lg-9 mx-auto box">

    <div class="data box" style="margin-top: 10px">
      <h3> O mnie </h3>

      <p>Imie Nazwisko: {{profile.firstName}} {{profile.lastName}}</p>
      <p>Data urodzenia: {{profile.birth_date}}</p>
      <p>Miasto: {{profile.city}}</p>

      <p>Pare zdań o mnie</p>
      {{profile.description}}

    </div>
  </div>
</div>
