input{
  color: #000;
}

/* Link display */
a:link{
  text-decoration: none;
  color: #000;
}

a:hover{
  text-decoration: none;
  color: #0f0;
}

a:visited{
  text-decoration: none;
  color: #000;
}

a:active{
  text-decoration: none;
  color: #0f0;
}

.form .window{
  margin-top: 80px;
  margin-bottom: 20px;
}

.form .formDisplay{
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background: rgba(163, 172, 203, 0.75);
}

.form .header {
  text-align:center;
  margin-bottom: 15px;
}

.form .control{
  position: relative;
  font-size: 12px;
  height: auto;
  padding: 10px;
}

.form input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
