
body
{
  color: #000;
  background: url('assets/images/bg.jpg') no-repeat;
}
/* Link display */
a:link{
  text-decoration: none;
  color: #000;
}

a:hover{
  text-decoration: none;
  color: #0f0;
}

a:visited{
  text-decoration: none;
  color: #000;
}

a:active{
  text-decoration: none;
  color: #0f0;
}
